@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'Lato', sans-serif;
	height: 100%;
	background-color: #f6f8fa;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
